* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: serif, sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

#container > ul {
  list-style-type: none;
}

#container > ul > li {
  padding: 1rem 1rem;
  display: block;
}

#container > ul > li > img {
  display: inline-block;
  height: 75px;
  object-fit: cover;
  margin-right: 1rem;
}
#container > ul > li > .info {
  display: inline-block;
  vertical-align: top;
}

.info > p {
  font-size: 1rem;
}

#container > ul > li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  vertical-align: top;
}

#container > ul > li a:active {
  background-color: black;
}

#container > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
