* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: serif, sans-serif;
  font-style: italic;
  font-size: 1.25rem;
}

#container {
  padding: 1rem;
  width: 100%;
}

#container > ul {
  margin-top: 75px;
  list-style-type: none;
}

#container > ul > li {
  padding: 1rem 1rem;
  display: block;
}

#container > ul > li > img {
  display: inline-block;
  height: 75px;
  object-fit: cover;
  margin-right: 1rem;
}
#container > ul > li > .info {
  display: inline-block;
  vertical-align: top;
}

.info > p {
  font-size: 1rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

#container > ul > li a {
  vertical-align: top;
}

#container > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.navigation {
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: block;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search {
  width: 100px;
  display: inline-block;
}

.search:focus {
  outline: none;
  box-shadow: none;
}

.search > a {
  padding-top: 1rem;
  padding-left: 1rem;
  display: block;
  margin: auto;
}

.nav-controls {
  float: right;
}

.nav-controls > a {
  padding: 1rem;
}
