{{define "title"}}{{.Title}}{{end}}
{{define "nav"}}
<nav class="navigation">
  {{if .Search }}
  {{template "search" .}}
  {{end}}

  <div class="nav-controls">
    <a tabindex="-1" href="/">Home</a>
    {{range .Navigation}}
    <a tabindex="-1" href="?q={{.Href}}">{{.Label}}</a>
    {{end}}
  </div>
</nav>
{{end}}

{{define "main"}}
<div class="book-details">
  {{if .ImageURL}}
  <img class="book-details-cover" src="?q={{.ImageURL}}" alt="{{.Title}}" height="300" />
  {{else if .ImageData}}
  <img class="book-details-cover" src="{{.ImageData}}" alt="{{.Title}}" height="300" />
  {{end}}


  <div class="book-details-info">
    <h1>{{.Title}}</h1>
    {{if .Author}}
    <h2>by {{.Author}}</h2>
    {{end}}
    <div class="book-summary">{{.Content}}</div>
  </div>
</div>

{{if .DownloadLinks}}
<div class="entry-section">
  <h3>Downloads</h3>
  <ul class="entry-links">
    {{range .DownloadLinks}}
    <li class="book-item">
      <a href="?q={{.Href}}">
        <div class="book-info">
          <p class="book-title">{{.Title}}</p>
          <p class="link-type">{{.Subtext}}</p>
        </div>
      </a>
    </li>
    {{end}}
  </ul>
</div>
{{end}}

{{if .NavigationLinks}}
<div class="entry-section">
  <h3>Related Links</h3>
  <ul class="entry-links">
    {{range .NavigationLinks}}
    <li class="book-item">
      <a href="?q={{.Href}}">
        <div class="book-info">
          <p class="book-title">{{.Title}}</p>
          <p class="link-type">{{.Subtext}}</p>
        </div>
      </a>
    </li>
    {{end}}
  </ul>
</div>
{{end}}
{{end}}