{{define "title"}}{{.Title}}{{end}} {{define "content"}}

<nav class="navigation">
  {{if .Search }}
  {{template "search" .}}
  {{end}}

  <div class="nav-controls">
    <a tabindex="-1" href="/">Home</a>
    <a tabindex="-1" href="?q={{.FeedURL}}">Back</a>
    {{range .Navigation}}
    <a tabindex="-1" href="?q={{.Href}}">{{.Label}}</a>
    {{end}}
  </div>
</nav>

<div class="book-details">
  {{if .ImageURL}}
  <img class="book-details-cover" src="?q={{.ImageURL}}" alt="{{.Title}}" height="300" />
  {{else if .ImageData}}
  <img class="book-details-cover" src="{{.ImageData}}" alt="{{.Title}}" height="300" />
  {{end}}


  <div class="book-details-info">
    <h1>{{.Title}}</h1>
    {{if .Author}}
    <h2>by {{.Author}}</h2>
    {{end}}
    <div class="book-summary">{{.Content}}</div>
  </div>
</div>

<ul class="entry-links">
  {{range .Links}}
  <li class="book-item">
    <a href="?q={{.Href}}">
      <div class="book-info">
        <p class="book-title">{{.Title}}</p>
        <p class="link-type">{{.Subtext}}</p>
      </div>
    </a>
  </li>
  {{end}}
</ul>
{{end}}