{{define "title"}}{{.Title}}{{end}} {{define "content"}}

<nav class="navigation">
  {{if .Search }}
  {{template "search" .}}
  {{end}}

  <div class="nav-controls">
    <a tabindex="-1" href="/">Home</a>
    {{range .Navigation}}
    <a tabindex="-1" href="?q={{.Href}}">{{.Label}}</a>
    {{end}}
  </div>
</nav>

<ul class="book-list">
  {{range .Links}}
  <li class="book-item">
    <a href="?q={{.Href}}{{if not (empty .EntryID)}}&id={{.EntryID}}{{end}}">
      {{if .ImageURL}}
      <img class="book-cover" src="?q={{.ImageURL}}" alt="{{.Title}}" height="40" />
      {{else if .ImageData}}
      <img class="book-cover" src="{{.ImageData}}" alt="{{.Title}}" height="40" />
      {{end}}
      <div class="book-info">
        <p class="book-title">{{.Title}}</p>
        {{if empty .Author | not }}
        <p>{{.Author}}</p>
        {{end}}
      </div>
    </a>
  </li>
  {{end}}
</ul>

{{end}}