{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<ul>
    {{if .Search }}
       <li><a href="{{.Search}}">Search</a></li>  
    {{end}}

    {{range .Navigation}}
       <li><a href="{{.Href}}">{{.Label}}</a></li>  
    {{end}}

    {{range .Links}}
        <li class="link">
            {{if .ImageURL}}
                <img src="/acquisition{{.ImageURL}}" alt="{{.Title}}" height="40">
            {{end}}

            <div class="info">
                {{if .IsDownload}} 
                    <a href="/acquisition{{.Href}}" download>{{.Title}}</a>
                {{else}}
                    <a href="{{.Href}}">{{.Title}}</a>
                {{end}}
                <p>{{.Author}}</p>
            </div>
        </li>
    {{end}}
</ul>
{{end}}
