{{define "title"}}Feed Log In{{end}}
{{ define "main" }}
<h1>{{urlParse .ReturnURL | getKey "query" | trimPrefix "q=" | urlParse | getKey "host" }}</h1>
<p>Log in to access this feed.</p>
<div id="content">
    <form method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Log In</button>
    </form>
</div>

<style>
    h1,
    p {
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    input {
        appearance: none;
        border: 1px solid rgb(0, 0, 0, 0.8);
        display: block;
        margin: 1rem auto;
        padding: 0.8rem;
        border-radius: 2px;
    }

    button {
        padding: 0.8rem 1rem;
        margin: 1rem auto;
        display: block;
        background-color: black;
        color: white;
        border: none;
        border-radius: 2px;
        width: 268px;
    }
</style>
{{ end }}